body{
  background-color: #FF6347;
    color: #dddddd;
  font-family: Lucida Grande, sans-serif;
  margin: 10% 20%;
  border: 10px solid rgba(0,0,0, .3)
}

html{
  background-color: white; 
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.3)
}

img{
 width: 50%;
   border: 10px solid rgba(0,0,0, 0.3);
}

.photo{
  text-align: center;
  margin: 5%
}

.header{
  text-align: center;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  color: #dddddd;
  margin: 5%
}

.normal{
  margin: 10%
}

.extra {
  text-align: center
}
